@charset "UTF-8";
body {
    background-color: #fafafa;
    height: 5000px;
}

/*初始化*/
* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

/*顶部导航栏开始*/
.heard {
    height: 100px;
    background-color: #ffffff;
}

.inner {
    width: 1200px;
    margin: auto;
    height: 100px;
    line-height: 100px;
}

.logo {
    float: left;
}

.nav {
    width: 600px;
    float: right;
}

.nav li a {
    text-decoration: none;
    float: left;
    font: 14px/100px "Microsoft YaHei";
    margin-right: 40px;
    color: #333333;
}

.nav li a:hover {
    color: #2288f6;
}

/*顶部导航栏结束*/

/*banner start*/
.banner {
    height: 620px;
    background: url(../images/banner.jpg) no-repeat top center;
}

/*banner end*/

/*我们的服务开始*/
.service, .case .service-heard {
    width: 1055px;
    margin: auto;
}

.service-heard, .media-heard {
    border-top: 1px solid #cccccc;
    margin: 74px 30px 0px 30px;
}

.service-heard h4, .media-heard h4 {
    width: 167px;
    height: 46px;
    margin: -20px auto 0px;
}

.service-heard p {
    font-size: 10px;
    width: 845px;
    color: #666;
    text-align: center;
    margin: 28px auto 0px;
    line-height: 25px;
}

.service-body {
    margin-top: 50px;
    overflow: hidden;
}

.service-body .one {
    width: 319px;
    height: 510px;
    float: left;
    border: 1px solid #e7e8e9;
    background-color: #fff;
}

.service-body .one img {
    width: 248px;
    height: 130px;
    margin: 41px 36px 0px;
}

.service-body .one h4 {
    font-size: 18px;
    font-family: "Microsoft YaHei ";
    text-align: center;
    margin-top: 45px;
    color: #333333;

}

.service-body .one .text {
    width: 234px;
    height: 112px;
    margin: 17px 42px 0px;
    line-height: 25px;
    font-size: 12px;
    color: #666666;
}

.service-body .one a {
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: 3px solid #ff9412;
    margin: 39px auto 0px;
    line-height: 35px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #ff9412;

}

.service-body .one a:hover {
    background-color: #ff9412;
    color: white;
}

.service-body .two {
    width: 319px;
    height: 510px;
    margin: 0px 46px;
    float: left;
    border: 1px solid #e7e8e9;
    background-color: #fff;
}

.service-body .two img {
    width: 248px;
    height: 130px;
    margin: 41px 36px 0px;
}

.service-body .two h4 {
    font-size: 18px;
    font-family: "Microsoft YaHei ";
    text-align: center;
    margin-top: 45px;
    color: #333333;

}
.clearfix:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix{
    *zoom:1;
}

.service-body .two .text {
    width: 234px;
    height: 112px;
    margin: 17px 42px 0px;
    line-height: 25px;
    font-size: 12px;
    color: #666666;
}

.service-body .two a {
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: 3px solid #ff9412;
    margin: 39px auto 0px;
    line-height: 35px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #ff9412;

}

.service-body .two a:hover {
    background-color: #ff9412;
    color: white;
}

.service-body .three {
    width: 319px;
    height: 510px;
    float: left;
    border: 1px solid #e7e8e9;
    background-color: #fff;
}

.service-body .three img {
    width: 248px;
    height: 130px;
    margin: 41px 36px 0px;
}

.service-body .three h4 {
    font-size: 18px;
    font-family: "Microsoft YaHei ";
    text-align: center;
    margin-top: 45px;
    color: #333333;

}

.service-body .three .text {
    width: 234px;
    height: 112px;
    margin: 17px 42px 0px;
    line-height: 25px;
    font-size: 12px;
    color: #666666;
}

.service-body .three a {
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: 3px solid #ff9412;
    margin: 39px auto 0px;
    line-height: 35px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #ff9412;
    overflow: hidden;

}

.service-body .three a:hover {
    background-color: #ff9412;
    color: white;

}

/*我们的服务结束*/

/*经典案例开始*/
.case, .media {
    width: 1055px;
    margin: 105px auto 0px;
}

.case-body {
    margin-top: 80px;
    position: relative;
    overflow: hidden;
}

.case-body li {
    width: 325px;
    height: 210px;
    background-color: pink;
    float: left;
}

.middle {
    margin: 0px 40px;
}

.case-body li {
    background-color: rgba(0, 0, 0, .3);
    position: relative;
}

.case-body .text {
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: block;
    width: 100%;
    text-align: center;
    color: white;
    line-height: 30px;
}

.mask {
    width: 100%;
    height: 100%;
    background: url("../images/fdj.png") rgba(0, 0, 0, .3) no-repeat center;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

.case-body a:hover .mask {
    display: block;
}

.case-body .left {
    display: block;
    position: absolute;
    width: 78px;
    height: 78px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 50%;
    text-align: center;
    line-height: 78px;
    font-size: 25px;
    text-decoration: none;
    color: white;
    left: -100px;
    top: 50px;

}

.case-body .right {
    display: block;
    position: absolute;
    width: 78px;
    height: 78px;
    background-color: rgba(0, 0, 0, .3);
    right: -100px;
    top: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 78px;
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.case-body .left:hover, .case-body .right:hover {
    background-color: #57a9ef;
}

/*经典案例结束*/